{% if is_empty %}
  User has no statistic for current season.
{% else %}
  {{ attach_library('overwatch_analytics/season-statistic-for-user-charts') }}
  <div class="overwatch-analytics-season-statistic-for-user">
    <div class="group summary">
      <h2 class="title">{{ 'Summary'|trans }}</h2>
      <div class="content">
        <div class="summary">
          {{ 'Games played'|trans }}: {{ results.summary.games_played }}<br/>
          {{ 'Wins'|trans }}: {{ results.summary.wins }}<br/>
          {{ 'Losses'|trans }}: {{ results.summary.losses }}<br/>
          {{ 'Draws'|trans }}: {{ results.summary.draws }}<br/>
          {{ 'Win'|trans }} %: {{ results.summary.win_percentage }}%<br/>
          {{ 'Loss'|trans }} %: {{ results.summary.losses_percentage }}%<br/>
          {{ 'Draw'|trans }} %: {{ results.summary.draw_percentage }}%<br/>
          {{ 'Longest win streak'|trans }}
          : {{ results.win_loss_streaks.longest_win }}<br/>
          {{ 'Longest loss streak'|trans }}
          : {{ results.win_loss_streaks.longest_loss }}<br/>
        </div>

        <div class="winrate">
          <canvas id="winrate-circle" height="300"
                  data-wins="{{ results.summary.wins }}"
                  data-losses="{{ results.summary.losses }}"
                  data-draws="{{ results.summary.draws }}"></canvas>
        </div>

        <div class="sr-history">
          <canvas id="sr-history" height="300"
                  data-sr-history="{{ results.sr_history|json_encode }}"></canvas>
        </div>
      </div>
    </div>

    <div class="group win-loss-streaks">
      <div class="content">
        <canvas id="win-loss-streaks-history" height="300"
                data-history="{{ results.win_loss_streaks.history|json_encode }}"></canvas>
      </div>
    </div>

    <div class="group map-breakdown">
      <h2 class="title">{{ 'Map breakdown'|trans }}</h2>
      <div class="content">
        <div class="map-breakdown-table">
          <div class="row heading">
            <div class="col label">{{ 'Map'|trans }}</div>
            <div class="col label">{{ '% Played'|trans }}</div>
            <div class="col label">{{ 'Played'|trans }}</div>
            <div class="col label">{{ 'Wins'|trans }}</div>
            <div class="col label">{{ 'Losses'|trans }}</div>
            <div class="col label">{{ 'Draws'|trans }}</div>
            <div class="col label">{{ 'Win %'|trans }}</div>
            <div class="col label">{{ 'Loss %'|trans }}</div>
            <div class="col label">{{ 'Draw %'|trans }}</div>
          </div>

          {% for tid, type in results.map_breakdown.types %}
            <div class="row">
              <div class="col map-type">{{ type.label }}</div>
            </div>

            {% for mid, map_label in type.maps %}
              <div class="row">
                <div class="col map-label">{{ map_label }}</div>

                {% for label, value in results.map_breakdown.maps[mid].stats %}
                  <div class="col value {{ label|clean_class }}">
                    {{ value }}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}