{{ attach_library('overwatch_match/add-competitive-form') }}
<div @submit.prevent class="overwatch-match-add-competitive-form">
  <input type="hidden" name="token" v-model="formValues.token">

  <div class="first-step">
    <select class="season" v-model="formValues.seasonSelected">
      <option v-for="season in formValues.seasons" :value="season.id">${
        season.label }
      </option>
    </select>

    <div class="group-size">
      <div class="label">{{ 'Group size'|trans }}</div>
      <input type="number" v-model="formValues.groupSize" min="1" max="6">
    </div>
  </div>

  <div class="time">
    <div class="label">{{ 'Date and time'|trans }}</div>
    <input type="date" v-model="formValues.dateDate">
    <input type="time" v-model="formValues.dateTime">
    <div class="description">{% trans %}Leave values empty for auto time on save.{% endtrans %}</div>
  </div>

  <div class="second-step">
    <div class="maps">
      <div class="label">{{ 'Map'|trans }}</div>
      <select class="map" v-model="formValues.mapSelected">
        <option v-for="map in formValues.maps" :value="map.id">${ map.label }
        </option>
      </select>
    </div>

    <div class="starting-side">
      <div class="label">{{ 'Starting side'|trans }}</div>
      <div class="radios">
        <input type="radio" id="attack" name="starting_side" value="1"
               v-model="formValues.startingSide">
        <label for="attack">{{ 'Attack first'|trans }}</label>

        <input type="radio" id="defend" name="starting_side" value="2"
               v-model="formValues.startingSide">
        <label for="defend">{{ 'Defend first'|trans }}</label>
      </div>
    </div>
  </div>

  <div class="third-step">
    <div class="heroes">
      <div class="label">{{ 'Heroes'|trans }}</div>
      <select class="hero" v-model="formValues.heroesSelected" multiple
              :size="formValues.heroes.length">
        <option v-for="hero in formValues.heroes" :value="hero.id">${ hero.label
          }
        </option>
      </select>
    </div>
  </div>

  <div v-if="!formValues.hasSr" class="no-sr">
    <p>
      {% trans %}
        We don't have any information about your SR in current season. If you
        don't finish placement already, you must mark this match as
        placement.
      {% endtrans %}
    </p>

    <p>
      {% trans %}
        If you already finish placement matches and want to start your analyze from
        current state, just add game only with SR data.
      {% endtrans %}
    </p>

    <input type="checkbox" id="is-placement" name="is_placement" value="1"
           v-model="formValues.isPlacement">
    <label for="is-placement">{{ 'Placement match'|trans }}</label>
  </div>


  <div v-if="formValues.isPlacement" class="match-result">
    <div class="title">{{ 'Match result'|trans }}</div>

    <input type="radio" id="victory" value="1" v-model="formValues.matchResult">
    <label for="victory">{{ 'Victory'|trans }}</label>
    <br>
    <input type="radio" id="draw" value="0" v-model="formValues.matchResult">
    <label for="draw">{{ 'Draw'|trans }}</label>
    <br>
    <input type="radio" id="defeat" value="2" v-model="formValues.matchResult">
    <label for="defeat">{{ 'Defeat'|trans }}</label>
  </div>

  <div class="score">
    <div class="label">{{ 'Score'|trans }}</div>
    <div class="value">
      <div class="team">
        <div class="label">{{ 'Team'|trans }}</div>
        <input type="number" min="0" max="10" v-model="formValues.scoreTeam">
      </div>

      <div class="enemy">
        <div class="label">{{ 'Enemy'|trans }}</div>
        <input type="number" min="0" max="10" v-model="formValues.scoreEnemy">
      </div>
    </div>
  </div>

  <div class="duration">
    <div class="label">{{ 'Duration'|trans }}</div>
    <input type="text" v-model="formValues.duration">
  </div>

  <div class="sr-pane">
    <div class="label">SR</div>
    <input type="number" v-model="formValues.sr" min="1" max="5000">
  </div>

  <div class="note">
    <div class="label">{{ 'Note'|trans }}</div>
    <textarea v-model="formValues.notes"></textarea>
  </div>

  <button type="submit" @click="submitForm">{{ 'Save'|trans }}</button>
</div>