{{ attach_library('overwatch_match/add-competitive-form') }}
<div @submit.prevent class="overwatch-match-add-competitive-form">
  <input type="hidden" name="token" v-model="formValues.token">

  <div class="first-step">
    <select class="season" v-model="formValues.seasonSelected">
      <option v-for="season in formValues.seasons" :value="season.id">${ season.label }</option>
    </select>

    <div class="group-size">
      <div class="label">{{ 'Group size'|trans }}</div>
      <input type="number" v-model="formValues.groupSize" min="1" max="6">
    </div>
  </div>

  <div class="second-step">
    <div class="maps">
      <div class="label">{{ 'Map'|trans }}</div>
      <select class="map" v-model="formValues.mapSelected">
        <option v-for="map in formValues.maps" :value="map.id">${ map.label }</option>
      </select>
    </div>

    <div class="starting-side">
      <div class="label">{{ 'Starting side'|trans }}</div>
      <div class="radios">
        <input type="radio" id="attack" name="starting_side" value="1"
               v-model="formValues.startingSide">
        <label for="attack">{{ 'Attack first'|trans }}</label>

        <input type="radio" id="defend" name="starting_side" value="2"
               v-model="formValues.startingSide">
        <label for="defend">{{ 'Defend first'|trans }}</label>
      </div>
    </div>
  </div>

  <div class="third-step">
    <div class="heroes">
      <div class="label">{{ 'Heroes'|trans }}</div>
      <select class="hero" v-model="formValues.heroesSelected" multiple :size="formValues.heroes.length">
        <option v-for="hero in formValues.heroes" :value="hero.id">${ hero.label }</option>
      </select>
    </div>
  </div>

  <div v-if="!formValues.hasSr" class="no-sr">
    <p>
      {% trans %}
        We don't have any information about your SR in current season. If you
        don't finish placement already, you must mark this match as
        placement.
      {% endtrans %}
    </p>

    <p>
      {% trans %}
        If you already finish placement matches and want to start your analyze from
        current state, you must add base match with SR only. This will be base
        rating for all next matches.
      {% endtrans %}
    </p>

    <p>
      {% trans %}
        After we detect that you have SR, this options will disappear.
      {% endtrans %}
    </p>

    <input type="radio" id="is-placement" name="no_sr" value="1"
           v-model="formValues.matchType">
    <label for="is-placement">{{ 'Placement match'|trans }}</label>

    <input type="radio" id="is-base-match" name="no_sr" value="2"
           v-model="formValues.matchType">
    <label for="is-base-match">{{ 'Base match'|trans }}</label>
  </div>


  <div v-if="formValues.matchType == 1" class="match-result">
    <div class="title">{{ 'Match result'|trans }}</div>

    <input type="radio" id="victory" value="1" v-model="formValues.matchResult">
    <label for="victory">{{ 'Victory'|trans }}</label>
    <br>
    <input type="radio" id="draw" value="0" v-model="formValues.matchResult">
    <label for="draw">{{ 'Draw'|trans }}</label>
    <br>
    <input type="radio" id="defeat" value="2" v-model="formValues.matchResult">
    <label for="defeat">{{ 'Defeat'|trans }}</label>
  </div>

  <div class="sr-pane" v-if="formValues.hasSr || formValues.matchType == 2">
    SR
    <input type="number" v-model="formValues.sr" min="1" max="5000">
  </div>

  <div class="note">
    <div class="label">{{ 'Note'|trans }}</div>
    <textarea v-model="formValues.note"></textarea>
  </div>

  <button type="submit" @click="submitForm">{{ 'Save'|trans }}</button>
</div>