{{ attach_library('overwatch_match/add-competitive-form') }}
<div class="overwatch-match-add-competitive-form">
  <input type="hidden" name="token" v-model="formValues.token">

  <div class="messages error" v-if="error.length">
    ${ error }
  </div>

  <div class="group season-pane">
    <select2 :options="formValues.seasons" :default="formValues.seasonSelected" v-model="formValues.seasonSelected" @change="onSeasonChange">
      <option disabled value="0">Select one</option>
    </select2>
  </div>

  <div class="group prepare">
    <h2 class="title">{{ 'During preare'|trans }}</h2>

    <div class="content">
      <div class="item group-size">
        <div class="label">{{ 'Group size'|trans }}</div>
        <input type="number" v-model="formValues.groupSize" min="1" max="6">
      </div>

      <div class="item maps">
        <div class="label">{{ 'Map'|trans }}</div>

        <select2 :options="formValues.maps" v-model="formValues.mapSelected">
          <option disabled value="0">Select one</option>
        </select2>
      </div>

      <div class="item starting-side">
        <div class="label">{{ 'Starting side'|trans }}</div>
        <div class="inputs">
          <input type="radio" id="attack" name="starting_side" value="1"
                 v-model="formValues.startingSide">
          <label for="attack" class="attack">
            {{ source(theme_path ~ '/assets/images/roles/offense.svg') }}{{ 'Attack first'|trans }}
          </label>

          <input type="radio" id="defend" name="starting_side" value="2"
                 v-model="formValues.startingSide">
          <label for="defend" class="defend">
            {{ source(theme_path ~ '/assets/images/roles/defense.svg') }}
            {{ 'Defend first'|trans }}
          </label>
        </div>
      </div>

      <div class="item date-and-time">
        <div class="label">{{ 'Date and time'|trans }}</div>
        <div class="inputs">
          <input type="date" v-model="formValues.dateDate" class="date">
          <input type="time" v-model="formValues.dateTime" class="time">
        </div>
        <div
          class="description">{% trans %}Leave values empty for auto time on save.{% endtrans %}</div>
      </div>
    </div>
  </div>

  <div class="group in-game">
    <h2 class="title">{{ 'In game process'|trans }}</h2>

    <div class="content">
      <div class="item heroes">
        <div class="label">{{ 'Heroes'|trans }}</div>

        <select2 :options="formValues.heroes"
                 v-model="formValues.heroesSelected" multiple>
          <option disabled value="0">Select one</option>
        </select2>
      </div>
    </div>
  </div>

  <div class="group after-match">
    <h2 class="title">{{ 'After match ends'|trans }}</h2>

    <div v-if="!formValues.hasSr" class="no-sr">
      <p>
        {% trans %}
          We don't have any information about your SR in current season. If you
          don't finish placement already, you must mark this match as
          placement.
        {% endtrans %}
      </p>

      <p>
        {% trans %}
          If you already finish placement matches and want to start your analyze from
          current state, just add game only with SR data.
        {% endtrans %}
      </p>

      <input type="checkbox" id="is-placement" name="is_placement" value="1"
             v-model="formValues.isPlacement">
      <label for="is-placement">{{ 'Placement match'|trans }}</label>

      <div v-if="formValues.isPlacement" class="match-result">
        <div class="title">{{ 'Match result'|trans }}</div>

        <input type="radio" id="victory" value="1"
               v-model="formValues.matchResult">
        <label for="victory">{{ 'Victory'|trans }}</label>
        <br>
        <input type="radio" id="draw" value="0"
               v-model="formValues.matchResult">
        <label for="draw">{{ 'Draw'|trans }}</label>
        <br>
        <input type="radio" id="defeat" value="2"
               v-model="formValues.matchResult">
        <label for="defeat">{{ 'Defeat'|trans }}</label>
      </div>
    </div>

    <div class="content">
      <div class="item score">
        <div class="label">{{ 'Score'|trans }}</div>
        <div class="value">
          <div class="team">
            <input type="number" min="0" max="10" v-model="formValues.scoreTeam" placeholder="{{ 'Team'|trans }}">
          </div>

          <div class="enemy">
            <input type="number" min="0" max="10" v-model="formValues.scoreEnemy" placeholder="{{ 'Enemy'|trans }}">
          </div>
        </div>
      </div>

      <div class="item duration">
        <div class="label">{{ 'Duration'|trans }}</div>
        <input type="text" v-model="formValues.duration">
      </div>

      <div class="item sr">
        <div class="label">SR</div>
        <input type="number" v-model="formValues.sr" min="1" max="5000">
      </div>
    </div>
  </div>


  <div class="group note">
    <div class="label">{{ 'Note'|trans }}</div>
    <textarea v-model="formValues.notes"></textarea>
  </div>

  <button type="submit" @click="submitForm" class="button-primary">{{ 'Save'|trans }}</button>
</div>